<form class="" action="/create_request">

<label for="name">What is the Name of your Request?</label>
<input type="text" id ="name" name="item_name" value="">
<br><br>
<label for="description">Desribe what you want?</label>
<input type="text" id ="description" name="description" value="">
<br><br>
<label for="public">Are you sure you actually want to do this?</label>
<input type="checkbox" id ="public" name="is_public" value="true">
<br><br>
<input type="hidden" name="user_id" value="<%= current_user.id %>">

<input type="submit" name="subbmett" value="Submit your request">

</form>
