/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.spacer{
  padding-top:80px;
}

.space{
  padding-right:80px;
}

.margin-spacer{
  margin-top:70px;
}

.small-spacer{
  padding-top:30px;
}

.under-spacer{
  padding-bottom:40px;
}

.form-inline .form-control.wider{
  width:500px;
}

.border-control {
  height:220px;
}

.size-of-image {
  width: 212px;
  max-height: 131px;
}

.request-answer {
  background-color: PaleTurquoise;
  border-color: DarkTurquoise;
}

.destroy-button-container {
  margin-top: 20px;
}

.response-description {
  height: 120px;
}

.remove-button-padding {
  margin-bottom: 87px;
}

.response-answer {
  background-color: Orchid;
  border-color: DarkOrchid;
}

.navbar-spacer {
  margin-left: 200px;
}

.navbar-default {
  background-color: Coral;
  border-color: Papayawhip;
  border-width: 5px;
}

.nay-yah-space {
  display : inline-block;
}

.response {
  overflow-wrap: break-word;
}
